src/main/mule/cicdjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dfd0323d-b8de-4fea-9d1c-c3b0ee5f54b6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdjenkinsFlow" doc:id="2ee8c39a-396d-4e3b-8516-22590e24ed61" >
		<http:listener doc:name="Listener" doc:id="e106c9b8-2f62-4a5f-b7a5-8c2a9b7c559e" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="190156f0-517c-4596-8b1c-f78c4abd19f1" message="Request received"/>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="798bb1ef-9b33-4124-b579-e8d2b299836d" />
	</flow>
</mule>
